::ng-deep .mat-tab-header {
  min-height: 5vh;
  background: goldenrod;
  color: rebeccapurple!important;
  font-weight: bold;
  font-size: 20px;
}
::ng-deep .mat-tab-labels {
  justify-content: space-around;
}
main{
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.custom-table1{
  width: 30vw;
  overflow-y: auto;
  border: 1px solid grey !important;
}
.custom-table{
  width: 40vw;
  overflow-y: scroll;
}
section{
  width: 20vw;
  overflow-y: scroll;
}
.custom-chart-1 {
  height: 95vh;
  width: 80vw;
}
.custom-chart-2 {
  height: 95vh;
  width: 40vw;
}
.custom-table{
  width: 40vw;
  overflow-y: scroll;
}
button{
  width: 10%;
  height: 10%;
  border: none;
  background: red;
  color: #FFFFFF;
}
table{
  width: 100%;
}
.menu-raw {
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding-left: 10px;
}
.menu-raw:active {
  background: gold;
  color: #FFFFFF;
  transition: 0.01s;
}
.is-clicked {
  color: white;
  background: gold;
}
button:disabled {
  background: #ccc;
  color: gray;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
